.content{
    padding: 5rem;
    height: 100vh;
    .header{
        font-size: 5rem;
        font-weight: 500;
        display: block;
        width: 50%;
        max-width: 600px;
        color: #fff;
        margin: 0 auto;
        margin-top: 5rem;
        text-align: center;
        .specialTxt{
            color: rgb(171, 173, 179);
        }
    }

    .text{
        color: rgb(171, 173, 179);
        font-size: 1.5rem;
        font-weight: 200;
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        animation-delay: 0.2s;
    }

    .graphic{
        min-height: 35vh;
        display: block;
        width: 80%;
        margin: 0 auto;
        background: url("/earth.jpg");
        background-size: cover;
        animation-delay: 0.4s;
    }

}
@media(max-width:1200px) {
    .content{
        .header{
            font-size: 4rem;
            width: 70%;
        }  
        .text{
            font-size: 1.25rem;
            width: 70%;
        }
    }
    
}
@media(max-width:600px) {
    .content{
        padding: 0;
        margin: 5rem 0rem;
        .header{
            font-size: 3rem;
            width: 100%;
        }  
        .text{
            font-size: 1rem;
            width: 70%;
        }
        .graphic{
            width: 100%;
        }
    }
}
@media(max-width:400px) {
    .content{
        margin: 5rem 1rem;
        .header{
            font-size: 2rem;
            width: 100%;
        }  
        .text{
            font-size: 1rem;
            width: 100%;
        }
        .graphic{
            width: 100%;
        }
    }
}
@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}